.container-poligon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  overflow: hidden;
}
.container-poligon .title {
  animation-delay: 1s;
  max-width: 300px;
}
@media (max-width: 720px) {
  .container-poligon .title {
    display: none;
    visibility: hidden;
  }
}
.container-poligon .title h1 {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  line-height: 0.1;
  font-size: 28pt;
}
.container-poligon .title h2 {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-size: 14pt;
}
.container-poligon .title h3 {
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 11pt;
  line-height: 2;
}
.container-poligon #p5sketch {
  margin: 40px;
  height: 75vmin;
  max-height: 360px;
  width: 75vmin;
  max-width: 360px;
}
.container-poligon .txt {
  animation-delay: 1s;
}
@media (max-width: 1024px) {
  .container-poligon .txt {
    display: none;
    visibility: hidden;
  }
}
.container-poligon .txt p {
  max-width: 360px;
  font-family: Raleway, sans-serif;
  font-size: 11pt;
  text-align: left;
}
